@model dt191g_projekt.Models.Post

@{
    ViewData["Title"] = "Ändra nyhet";
}


<div class="grid w-full max-w-lg mx-auto justify-items-center">
    <h1 class="justify-self-start">@ViewData["Title"]</h1>
    <form asp-action="Edit" enctype="multipart/form-data" class="w-full">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="input-div">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="input-div">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" rows="7"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="input-div">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <h2 class="mb-1 mt-12 font-semibold">Bildval</h2>
        <p class="mb-6 opacity-90">Om nyheten ska behålla nuvarande bild behöver du inte göra några val. Annars går det
            att välja om bilden ska tas bort eller om du vill ladda upp en ny
            bild.</p>
        <div class="w-fit flex flex-row items-start my-5">
            <input class="basis-5 min-h-5 min-w-5 cursor-pointer" type="checkbox" name="RemoveImage" id="RemoveImage" value="true" />
            <label class="text-[1em] font-normal text-black ml-3" for="RemoveImage">Ta bort nuvarande bild</label>
        </div>
        <div class="input-div">
            <label class="mt-8" asp-for="ImageFile">Ladda upp ny bild</label>
            <input asp-for="ImageFile" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <input type="submit" value="Spara ändringar" class="btn-styling" />
        <a class="link-styling justify-self-start" asp-action="Index">Tillbaka</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
