@model dt191g_projekt.Models.Category

@{
    ViewData["Title"] = "Skapa kategori";
}

<div class="grid w-full max-w-lg mx-auto justify-items-center">
    <h1 class="justify-self-start">@ViewData["Title"]</h1>
    <form asp-action="Create" class="w-full">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-div">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="submit" value="Lägg till" class="btn-styling" />
    </form>
    <a class="link-styling justify-self-start" asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
