@model dt191g_projekt.Models.Category

@{
    ViewData["Title"] = "Radera kategori";
}

<h1>@ViewData["Title"]</h1>

<h2 class="font-bold">Är du säker på att du vill radera kategorin? <br>Alla nyheter i kategorin kommer raderas.</h2>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="my-6">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera kategori" class="btn-styling max-w-full md:max-w-md" />
        <a class="link-styling block w-fit" asp-action="Index">Tillbaka</a>
    </form>
</div>
