@model dt191g_projekt.Models.Category

@{
    ViewData["Title"] = "Detaljer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="my-8">
    <a class="link-styling" asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a class="link-styling" asp-action="Index">Tillbaka</a>
</div>
