@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Hantera ditt konto</h1>

<div>
    <h2>Ändra inställningar för din profil</h2>
    <div class="md:grid md:grid-cols-5 gap-x-5 w-full mx-auto">
        <div class="md:col-start-1 md:col-span-1">
            <partial name="_ManageNav" />
        </div>
        <div class="md:col-start-2 md:col-span-4">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
