@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Radera konto";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<p>
    <strong>Ditt konto kommer raderas permanent och kan inte återställas.</strong>
</p>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <button class="btn-styling md:max-w-sm" type="submit">Radera mitt konto</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
