@page
@model EmailModel
@{
    ViewData["Title"] = "E-post";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    <div class="input-div">
        <label asp-for="Email">E-post</label>
        <div class="relative md:max-w-sm">
            <input asp-for="Email" class="md:max-w-sm bg-gray-100" placeholder="Please enter your email." disabled />
            <span class="font-bold absolute top-[0.5px] right-[0.5px] py-3 px-6 bg-gray-200">✓</span>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
