@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Radera konto";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data om dig. Här kan du radera ditt konto.</p>
        <p>
            <strong>Ditt konto kommer raderas permanent och kan inte återställas.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Radera konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
