@{
    ViewData["Title"] = "Om sidan";
}


<div class="grid w-full max-w-lg mx-auto justify-items-center">
    <h1 class="justify-self-start">Om Prism ScienceHub</h1>
    <p class="my-4">Prism ScienceHub är en ideell och oberoende plattform som skapar en gemenskap i att sprida vetenskapliga nyheter och upptäckter från hela världen.
        Vetenskapsentusiaster är välkomna att bidra till vår ambition: <strong>att göra vetenskap tillgänglig och förståelig för alla.</strong>
    </p>
    <p class="my-4">Prism ScienceHub drivs utan extern finansiering. Vi är alltså fria från kommersiella och politiska intressen vilket gör att vi kan fortsätta
        vara opartiska och bidra till objektiva rapporteringar. Vårt mål är inte bara att informera utan också att inspirera nya generationer av inte bara forskare utan
        även nyfikna personer som vill utforska den vetenskapliga världen.
    </p>
    <p class="my-4">Tillsammans skapar vi en plattform där vetenskapliga framsteg får en röst. <strong>Välkommen till Prism Sciencehub.</strong></p>
</div>