@model dt191g_projekt.Models.Post

@{
    ViewData["Title"] = "Details";
    var culture = new System.Globalization.CultureInfo("sv-SE");
}

<h1>Details</h1>

<h2>@Model.Title</h2>

<div>
    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
        <a href="~/images/@Model.ImageName" target="_blank">
            <img src="~/images/@Model.ImageName" alt="" width="300px">
        </a>
    }
    <p>
        @{
            var categoryName = Model.Category?.Name;
            if (!string.IsNullOrEmpty(categoryName))
            {
                @categoryName
            }
        }
    </p>
    <p>@Html.DisplayFor(model => model.CreatedBy)</p>
    <p>@Model.CreatedDate.ToString("d MMMM, yyyy kl HH:ss", culture)</p>
    <p>@Html.DisplayFor(model => model.Content)</p>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>