@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Prism ScienceHub administration!</h1>
    <p><br>Det här är en sida för användare av Prism ScienceHub där du kan hantera inlägg rörande senaste nytt inom vetenskapen.</p>
</div>
