@model dt191g_projekt.Models.Post;

@{
    ViewData["Title"] = "Sök nyhet";
}

<h1>Sök efter nyheter</h1>

<div class="grid w-full max-w-lg mx-auto justify-items-center">
    <form asp-action="SearchResults" method="get" class="w-full">
        <div class="input-div">
            <label for="searchString" class="control-label">Sök efter nyhet</label>
            <input type="text" id="searchString" name="searchString" placeholder="Ange sökning">
        </div>
        <button type="submit" class="btn-styling">Sök</button>
    </form>
    <a class="link-styling justify-self-start" asp-action="Index">Tillbaka</a>
</div>