@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<h1 class="text-2xl mb-6 text-center">@ViewData["Title"]</h1>
<section class="grid w-full justify-items-center">
    <form id="account" method="post" class="w-full max-w-lg">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-div">
            <label asp-for="Input.Email">E-post/användarnamn</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"
                placeholder="Fyll i e-post eller användarnamn" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-div">
            <label asp-for="Input.Password" class="form-label">Lösenord</label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"
                placeholder="Lösenord" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button id="login-submit" type="submit" class="btn-styling">Logga in</button>
        <p class="text-sm mt-4">
            Inget konto? <a class="link-styling" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera dig här.</a>
        </p>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
